.normal-div{
   border-radius: 50%;
   height: 100px;
   width: 100px;
   border-color: rgb(168, 168, 75);
   border-style: solid;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.header-div{
    height: 400px;
    
    

}