/* body{
    font-family: "BebasNeue",Helvetica,Arial,sans-serif;
} */

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;
  }

  .text-100{
    font-weight: 100;
  }

  .text-200{
    font-weight: 200;
  }

  .text-300{
    font-weight: 300;
  }
  
  .text-400{
    font-weight: 400;
  }
  
  .text-500{
    font-weight: 500;
  }
  
  .text-600{
    font-weight: 600;
  }
  
  .text-700{
    font-weight: 700;
  }
  
  .text-800{
    font-weight: 800;
  }
  
  .text-900{
    font-weight: 900;
  }

  .text-italic{
    font-style: italic;
  }

  .mt-6{
    margin-top: 4rem;
  }

  .mt-7{
    margin-top: 5rem;
  }

  .mt-8{
    margin-top: 6rem;
  }

  .mb-7{
    margin-bottom: 5rem;
  }

  .mb-8{
    margin-bottom: 6rem;
  }