@media (max-width: 767px) {
    .navigation-background{
        display: none;
    }
}

@media (min-width: 768px) {
    .navigation-background{
        background-color: rgb(237, 234, 228);
        position: fixed;
        width: 100%;
    }
    
    .group-of-links{
        display: flex;
        align-items: center;
        height: 70px;
        text-align: center;
    }
    
   
    }


h2{
    font-size: 18px;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.important-header {
    font-size: 30px;
}

