@media (max-width: 800px) {
    .group-of-links{
        display: none;
    }
}

@media (min-width: 801px) {
    .navigation-background{
        background-color: rgb(237, 234, 228);
    }
    
    .group-of-links{
        display: flex;
        align-items: center;
        height: 70px;
        text-align: center;
        
    }
}

h1 {
    font-size: 30px;
}

h2{
    font-size: 18px;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}


