
.navigation-background{
    background-color: rgb(212, 210, 210);
}

a, button{
    text-decoration: none;
    color: black;
    transition: .5s all;
}

button:hover, .link-scale:hover {
    transform: scale(1.1);
}




